In [1]:
import pandas as pd

**1. User-defined functions**

In [4]:
def square(value):  # <- Function header
    new_value = value ** 2
    return new_value

a = square(10)
a

100

In [5]:
#docstrings: describe what your function does;
def square(value):  
    """Returns the square of a value"""
    new_value = value ** 2
    return new_value

a = square(10)
a

100

**2. Multiple parameters and return values**

In [1]:
#multiple function parameters
def raise_to_power(value1, value2):
    """Raise value1 to the power of value2"""
    new_value = value1 ** value2
    return new_value

result = raise_to_power(4, 10)
result

1048576

In [7]:
#returning multiple values:
def raise_to_power(value1, value2):
    """Raise value1 to the power of value2"""
    new_value1 = value1 ** value2
    new_value2 = value2 ** value1

    new_tuple = (new_value1, new_value2)
    
    return new_tuple

result1, result2 = raise_to_power(4, 10)
result1

1048576

In [4]:
# set a tuple
nums = (3, 4, 6)

# Unpack a tuple into several variables
num1, num2, num3 = nums

# Construct even_nums
even_nums = (2, num2, num3)
even_nums

(2, 4, 6)

In [10]:
#scope and user-defined functions
# Define count_entries()
def count_entries(df, col_name):
    """Return a dictionary with counts of 
    occurrences as value for each key."""

    # Initialize an empty dictionary: langs_count
    langs_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry] += 1
        # Else add the language to langs_count, set the value to 1
        else:
            langs_count[entry] = 1

    # Return the langs_count dictionary
    return langs_count

data = {'lang': ['Python', 'Java', 'Python', 'C++', 'Java', 'Python']}
df = pd.DataFrame(data)
result = count_entries(df, 'lang')
print(result)

{'Python': 3, 'Java': 2, 'C++': 1}

**3. Bringing it all together**

In [11]:
#Scope in functions
#Scope: part of the program where an object or name may be accessible
#Global scope: defined in the main body of a script.
#Local scope: defined inside a function.
#Built-in scope: names in the pre-defined built-ins module

In [14]:
#global vs. local scope
new_value = 10

def square(value):  
    """Returns the square of a value"""
    new_value = value ** 2
    return new_value

square(3)

9

In [17]:
#global vs. local scope
new_value = 10

def square(value):  
    """Returns the square of a value"""
    global new_value
    new_value = new_value ** 2
    return new_value
    
square(3)

100

**4. Nested functions**

In [6]:
#nested functions
#Scopes searched: local scope, enclosing functions, global, and built-in
def mod2plus5 (x1, x2, x3):
    """Returns the remainder plus 5 of three values"""

    def inner(x):
        """Returns the remainder plus 5 of a value"""
        return x % 2 + 5

    return (inner(x1), inner(x2), inner(x3))

print(mod2plus5(2, 3, 4))

(5, 6, 5)

In [9]:
#returning functions
def raise_value(n):
    """Return the inner function"""

    def inner(x):
        """Raise x to the power of n."""
        raised = x ** n
        return raised
        
    return inner
        
square = raise_value(2)
cube = raise_value(3)
print(square(2), cube(4))

4 64

In [10]:
#using nonlocal
def outer():
    """prints the value of n."""
    n = 1

    def inner():
        nonlocal n
        n = 2

    inner()
    print(n)

n = outer()
n

2

In [15]:
#'nonlocal' keyword to modify a variable in an enclosing scope from within a nested function.
def echo_shout(word):
    """Change the value of a nonlocal variable"""
    
    # Concatenate word with itself: echo_word
    echo_word = word * 2
    
    # Print echo_word
    print(echo_word)
    
    # Define inner function shout()
    def shout():
        """Alter a variable in the enclosing scope"""    
        # Use echo_word in nonlocal scope
        nonlocal echo_word
        
        # Change echo_word to echo_word concatenated with '!!!'
        echo_word = echo_word + "!!!"
    
    # Call function shout()
    shout()
    
    # Print echo_word
    print(echo_word)

# Call function echo_shout() with argument 'hello'
echo_shout('hello')

hellohello
hellohello!!!

**5. Default and flexible arguments**

In [22]:
#'*args' allows a function to accept any number of positional arguments. The arguments are passed as a tuple.
def print_args(*args):
    for arg in args:
        print(arg)

# Calling the function with multiple arguments
print_args(1, 2, 3, "hello", [5, 6, 7])

1
2
3
hello
[5, 6, 7]

In [16]:
#add a default argument
def power(number, pow=1):
    """Raise number to the power of pow."""
    new_value = number ** pow
    return new_value
print(power(9, 2), power(9, 1), power(9))

81 9 9

In [19]:
#flexible argmuments: *args
def add_all(*args):
    """Sum all values in *args together"""

    sum_all = 0

    for num in args:
        sum_all += num

    return sum_all

print(add_all(1,2,3,4), add_all(3, 4, 5))

10 12

In [24]:
#'**kwargs' allows a function to accept any number of keyword arguments. The arguments are passed as a dictionary.
def print_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Calling the function with multiple keyword arguments
print_kwargs(name="Alice", age=30, job="Engineer")

name: Alice
age: 30
job: Engineer

In [20]:
#flexible argmuments: **kwargs
#arguments preceded by identifiers

def print_all(**kwargs):
    """Print out key-value pairs in **kwargs."""

    for key, value in kwargs.items():
        print(key + ":" + value)

print_all(name="dumbledore", job="headmaster")

name:dumbledore
job:headmaster

**6. Lambda functions**

In [5]:
#lambda functions (anonymous functions)
raise_to_power = lambda x, y: x ** y
raise_to_power(2, 3)

8

In [8]:
#anonymous functions
nums = [4, 3, 1, 5, 55, 44]

square_all = map(lambda num: num ** 2, nums)
print(list(square_all))

[16, 9, 1, 25, 3025, 1936]

In [7]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda member: len(member) > 6, fellowship)

# Convert result to a list: result_list
result_list = list(result)

# Print result_list
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

**7. Introduction to error handling**

In [10]:
#errors and exceptions
def sqrt(x):
    """Returns the square root of a number"""
    try:
        return x ** 0.5
    except:
        print('x must be an int or float')

print(sqrt(4), sqrt('hello'))

x must be an int or float
2.0 None

In [12]:
#errors and exceptions
def sqrt(x):
    """Returns the square root of a number"""
    try:
        return x ** 0.5
    except TypeError:
        print('x must be an int or float')

print(sqrt('hello'))

x must be an int or float
None

In [13]:
sqrt(-9)

(1.8369701987210297e-16+3j)

In [14]:
#errors and exceptions
def sqrt(x):
    """Returns the square root of a number"""
    if x < 0:
        raise ValueError('x must be non-negative')
    try:
        return x ** 0.5
    except TypeError:
        print('x must be an int or float')

In [15]:
sqrt(-9)

ValueError: x must be non-negative